#header {
    top: 6%;
    &[data-active="true"] {
        top: 0;
    }
}
header {
    background: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: all 0.5s ease-in;
    &[data-active="true"] {
        box-shadow: 0px 3px 18px #ffffff29;
        &::after{
            opacity: 0;
        }
        nav {
            background: $color1;
            .cont {
                .icons {
                    path {
                        fill: $color3;
                    }
                }
            }
        }
    }

    nav {
        transition: all 0.3s ease-in;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        .cont {
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            .logo {
                display: grid;
                place-items: center start;
                img {
                    width: auto;
                    height: 50%;
                    transition: all 0.8s ease;
                }
            }
            #menu__btn {
                display: none;
            }
            #sidebar__nav {
                width: 70%;
                display: grid;
                place-items: center end;
                ul {
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    gap: 0 1rem;
                    /* Não mexer */
                    .a2 {
                        display: none;
                    }
                    /* Não mexer ^^ */

                    li {
                        a {
                            color: $color3;
                            font-size: 14px;
                            transition: all 0.5s ease;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 0 0 5%;
                            align-items: center;
                            text-decoration: none;
                            &::after {
                                content: ("");
                                position: absolute;
                                display: block;
                                width: 0%;
                                height: 1px;
                                bottom: 0;
                                background: $color3;
                                transition: all 0.5s ease;
                            }
                            &:hover {
                                &::after {
                                    width: 100%;
                                }
                            }
                            &.active {
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        height: 15%;
        &::after{
            display: none;
        }
        &[data-active="true"] {
            height: 10%;
            width: 100%;
            top: 0;
            box-shadow: none;
            nav {
                border-radius: 0;
                .cont {
                    .logo {
                        img {
                            height: 40%;
                        }
                    }
                    #menu__btn {
                        .boll {
                            border: 0.5px solid $color2;
                        }
                    }
                }
            }
        }
        nav {
            width: 100%;
            .cont {
                justify-content: space-between;
                .icons {
                    display: none;
                }
                .logo {
                    img {
                        transition: all 0.5s ease;
                    }
                }
                #menu__btn {
                    position: fixed;
                    right: 10%;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    gap: 0.3rem 0;
                    z-index: 10;
                    cursor: pointer;
                    transition: all 0.5s ease-out;
                    .boll {
                        width: 25px;
                        height: 4px;
                        background: $color3;
                        border: none;
                        border-radius: 50px;
                        transition: all 0.5s ease-out;
                        &:nth-child(2) {
                            width: 15px;
                        }
                    }
                    &[data-active="true"] {
                        right: 50%;
                        .boll {
                            transition: all 0.8s ease-out;
                            border: none;

                            position: absolute;
                            &:nth-child(1) {
                                transform: rotateZ(45deg);
                            }
                            &:nth-child(3) {
                                top: 5%;
                                transform: rotateZ(-45deg);
                            }
                            &:nth-child(2) {
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                    }
                }
                #sidebar__nav {
                    position: fixed;
                    width: 100%;
                    inset: 0;
                    right: 0;
                    z-index: 9;
                    background: rgba(#000, 50%);
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s ease-out;

                    &[data-active="true"] {
                        visibility: visible;
                        opacity: 1;

                        ul {
                            right: 0;
                            transition: all 0.5s ease;
                        }
                    }

                    ul {
                        position: absolute;
                        width: 60%;
                        right: -80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        list-style: none;
                        gap: 2.5rem 0;
                        top: 0;
                        background: $color1;
                        transition: all 0.2s ease;

                        li {
                            a {
                                display: block;
                                width: 100%;
                                text-align: start;
                                font-size: 1.2rem;
                                color: $color3;
                                position: relative;
                                &::after {
                                    content: ("");
                                    position: absolute;
                                    display: grid;
                                    width: 0;
                                    height: 1px;
                                    background: $color3;
                                    transition: all 0.5s ease;
                                }

                                &:hover {
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
